@import 'global';
@import 'header';
@import 'footer';
.contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2vh;
    max-width: 50em;
    margin: 0 auto;
    div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 2vh;
        @media (min-width: $breakpoint-tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: auto;
        }
    }
    h1 {
        font-family: Lato;
        font-size: 1.25em;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5em;
        letter-spacing: 0.1em;
        text-align: left;
    }
    input,
    textarea {
        background: #7C7474;
        color: black;
        border-style: none;
        padding: 1em;
        width: 70vw;
        @include placeholder-color(rgb(0, 0, 0));
        font-family: Lato;
        font-size: 0.7em;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.1em;
        text-align: left;
        max-width: 60em;
    }
    input {
        @media (min-width: $breakpoint-tablet) {
            width: calc(35vw - 2em);
            max-width: 28em;
        }
    }
    .bigger-input {
        height: 5em;
    }
    .submit-button {
        background-color: #7C7474;
        color: white;
    }
}

#footer-aligner {
    height: 10vh;
}