html {
  font-family: 'Lato', sans-serif;
  font-weight: 700, bold;
  background: #F8F7EC80;
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.c-button.c-button {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #a19b98;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em 1em;
  color: black;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 1em;
  font-style: normal;
  font-weight: 580;
  line-height: 1.0em;
  letter-spacing: 0.1em;
  text-align: center;
}

nav {
  background-color: #cbc1b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11vh;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .nav-logo {
  height: 95%;
  margin: 0px;
  margin-left: 8%;
}

nav .nav-navigation {
  margin-left: auto;
  margin-right: 10%;
}

.footer {
  background-color: #cbc1b1;
  height: 11vh;
  min-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
  margin-bottom: 0;
}

.footer h2 {
  font-family: Lato;
  font-size: 0.8em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 1em 0;
}

.dovolena-banner {
  background-color: #7C7474;
  margin: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F8F7EC;
}

.dovolena-banner h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 5vw;
}

.dovolena-banner p {
  font-size: 0.85em;
  font-weight: 200;
  line-height: 1.1em;
  letter-spacing: 0.1em;
  text-align: block;
  margin: 3vw;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.trip-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trip-offers .trip-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10vw;
}

.trip-offers .trip-offer img {
  height: 30vw;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
}

.trip-offers .trip-offer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: 5vw;
}

.trip-offers .trip-offer div h3 {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  line-height: 0.9em;
  letter-spacing: 0.1em;
  text-align: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.trip-offers .trip-offer div p {
  width: auto;
  font-size: 0.6em;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-align: left;
}

.chci-button.chci-button.chci-button {
  margin: 0 auto;
  background-color: #7C7474;
  color: #F8F7EC;
}
/*# sourceMappingURL=index.css.map */